.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #fafafa);
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  place-content: space-evenly;

  .image-container {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 40%;
    border-bottom-left-radius: 100%;
    background: linear-gradient(to right, #f9c64f, #f9a935);
    right: 0;

    .image {
      width: 41vw;
      margin-top: 1rem;
      position: absolute;
      right: 5vw;
    }
  }

  .content-container {
    height: 100%;
    width: 54vw;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-family: "Josefin Bold";
      font-size: 6vw;
      margin-left: 4vw;
      color: #343434;
      line-height: normal;
    }

    .about {
      font-family: "Josefin Regular";
      font-size: 2vw;
      margin-top: 4vw;
      margin-left: 4vw;
      color: #343434;
      line-height: normal;
    }

    .generic-call-to-action {
      height: 5vw;
      width: 16vw;
      margin-left: 38vw;
      margin-top: 4vw;
      cursor: pointer;
      border-radius: 1rem;
      background: linear-gradient(to right, #f9c64f, #f9a935);
      box-shadow: -13px -18px 30px -20px #f9c64f;
      display: flex;
      align-items: center;
      justify-content: center;

      .call-to-action-text {
        font-family: "Josefin Bold";
        font-size: 2vw;
        color: #ffffff;
        line-height: normal;
        margin: 0 !important;
        padding-top: 0.3vw;
      }
    }
  }

  .links {
    position: fixed;
    height: 6rem;
    width: 22vw;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;

    .link-box {
      background: linear-gradient(to right, #f9c64f, #f9a935);
      box-shadow: -13px -18px 30px -20px #f9c64f;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin-left: 2vw;
      display: flex;
      justify-content: center;
      cursor: pointer;

      .icon {
        width: 2vw;
      }
    }
  }
}
