<div *ngIf="home" class="main-container">
    <div class="image-container">
        <img class="image" src="../../../../assets/images/home.png" alt="O que cozinhar em um prato de comida?">
    </div>
    <div class="content-container">
        <h1 class="title">O que cozinhar?</h1>
        <p class="about">Ficou na dúvida do que cozinhar hoje? <br><br> O nosso gerador de receitas indicará um prato perfeito em segundos!
            Para isso, basta selecionar o botão "Me Desafie!" e escolher suas preferências culinárias.</p>
        <div class="generic-call-to-action" (click)="openOptions()">
            <p class="call-to-action-text">Me desafie!</p>
        </div>
    </div>
    <div class="links">
        <div class="link-box">
            <img class="icon" src="../../../../assets/icons/insta.svg" alt="Instagram Culinário">
        </div>
    </div>
</div>
<app-recipe-challenge-options *ngIf="!home"></app-recipe-challenge-options>