.main-container {
  background: #f9c64f;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .image-text {
        font-family: "Josefin Bold";
        margin-top: 4vw;
        color: #343434;
        line-height: normal;
      }
  
      .image {
        cursor: pointer;
      }

    @media screen and (min-width: 600px) {
      .image-text {
        font-size: 20vw;
      }
      .image {
        width: 20vw;
      }
    }
    @media screen and (max-width: 599px) {
        .image-text {
          font-size: 20vh;
        }
        .image {
          width: 20vh;
        }
      }
  }

  .description-text {
    font-family: "Josefin Regular";
    font-size: 1.6rem;
    margin-top: 2vw;
    color: #343434;
    line-height: normal;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
  }
}
