<div class="main-container">
    <div class="image-container">
        <p class="image-text">4</p>
        <img class="image" (click)="returnToHome()" src="../../../assets/images/plate.png" alt="Prato de comida">
        <p class="image-text">4</p>
    </div>
    <p class="description-text">Opa! Parece que a página que você busca não existe. Clique no prato para retornar ao início.</p>
</div>