#person-one {
  background: var(--bg-color);
}
#person-two {
  background: var(--bg-color);
}
#person-tree {
  background: var(--bg-color);
}

#level-rookie {
  background: var(--bg-color);
}
#level-master {
  background: var(--bg-color);
}

#submit {
  transition: all 0.3s;
  background: var(--bg-color);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

.main-container {
  width: 100%;
  height: 100%;
  background: #ffffff;

  .title-container {
    cursor: pointer;
    position: absolute;
    background: linear-gradient(to right, #f9c64f, #f9a935);
    width: 32rem;
    height: 8rem;
    margin-top: -6rem;
    border-bottom-right-radius: 5rem;
    -webkit-box-shadow: 8px 8px 20px -16px #696969;
    -moz-box-shadow: 8px 8px 20px -16px #696969;
    box-shadow: 8px 8px 20px -16px #696969;

    .title {
      font-family: "Josefin Bold";
      font-size: 3rem;
      margin-top: 3.3rem;
      margin-left: 2rem;
      color: #ffffff;
    }
  }

  .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 60% 40%;
    margin-top: 6rem;

    .image-container {
      width: 100%;
      height: 100%;
      border-top-right-radius: 5rem;
      background: url("../../../../../assets/images/background1.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .content {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: auto 30%;

      .form-container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: min-content auto;

        .form-title {
          font-family: "Josefin Bold";
          font-size: 2.5rem;
          margin-top: -2.3rem;
          margin-left: 4rem;
          color: #343434;
        }

        .form-typography {
          font-family: "Josefin Regular";
          font-size: 1.5rem;
          margin-top: 2.7rem;
          margin-left: 4rem;
          color: #343434;
        }

        .form-options {
          display: grid;
          grid-template-rows: auto;
          margin-top: 2rem;
          margin-bottom: 1rem;

          .person-options {
            display: flex;
            place-content: space-evenly;
            margin-top: 1.5rem;

            .person-option-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 4rem;
              height: 4rem;
              cursor: pointer;
              -webkit-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              -moz-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              border-radius: 0.6rem;

              .person-icon {
                margin-top: -0.5rem;
                margin-left: -0.5rem;
                color: #696969;
                font-size: 2rem;
              }
            }
          }

          .veggie-option {
            display: flex;
            align-items: center;

            .slide-toggle {
              margin-left: 1rem;
            }

            .veggie-typography {
              font-family: "Josefin Regular";
              font-size: 1.5rem;
              margin-top: 1rem;
              color: #343434;
              margin-left: 4rem;
            }
          }

          .experience-options {
            display: flex;
            place-content: space-evenly;
            margin-top: 1.5rem;

            .experience-option-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 12rem;
              height: 4rem;
              cursor: pointer;
              -webkit-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              -moz-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
              border-radius: 0.6rem;

              .experience-icon {
                margin-right: 0.5rem;

                &.amateur {
                  width: 1.7rem;
                  margin-top: 0.2rem;
                }
              }

              .experience-typography {
                font-family: "Josefin Regular";
                font-size: 1rem;
                margin-top: 1rem;
                color: #343434;
              }
            }
          }
        }
      }

      .submit-container {
        width: 16rem;
        justify-self: right;
        border-top-left-radius: 5rem;
        cursor: pointer;
        height: 6rem;
        margin-bottom: 6rem;
        display: flex;
        justify-content: center;
        align-self: end;

        .title {
          font-family: "Josefin Bold";
          font-size: 2rem;
          margin-top: 3rem;
          margin-left: 2rem;
          color: #ffffff;
        }
      }
    }
  }
}

::ng-deep .mat-slide-toggle-bar {
  height: 38px !important;
  width: 78px !important;
  border-radius: 36px !important;
  margin-right: 12px !important;
  background: #efefef;
}
::ng-deep .mat-slide-toggle-thumb {
  height: 38px !important;
  width: 38px !important;
  margin-top: 0.1rem;
  background-color: #f9a935 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(38px, 0, 0) !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background: #e2e2e2 !important;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #fffff0 !important;
}
