<div class="main-container">
    <div class="title-container">
        <h1 class="title" (click)="refreshPage()">O que cozinhar?</h1>
    </div>
    <div class="container">
        <div class="image-container">
        </div>
        <div class="content">
            <div class="form-container">
                <p class="form-title">Diga-me o que deseja</p>
                <div class="form-options">
                    <div class="veggie-option">
                        <p class="veggie-typography">
                            Vegetariano?
                        </p>
                        <mat-slide-toggle (change)="setVeggie()" class="slide-toggle">
                        </mat-slide-toggle>
                    </div>
                    <div class="person-quantity">
                        <p class="form-typography">Quantas pessoas vão comer?</p>
                        <div class="person-options">
                            <div class="person-option-container" id="person-one" (click)="selectPerson(1)">
                                <mat-icon class="person-icon" aria-hidden="false" aria-label="Uma pessoa">person
                                </mat-icon>
                            </div>
                            <div class="person-option-container" id="person-two" (click)="selectPerson(2)">
                                <mat-icon class="person-icon" aria-hidden="false" aria-label="Casal">people</mat-icon>
                            </div>
                            <div class="person-option-container" id="person-tree" (click)="selectPerson(3)">
                                <mat-icon class="person-icon" aria-hidden="false" aria-label="Grupo">groups</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="form-typography">Qual a sua experiência na cozinha?</p>
                        <div class="experience-options">
                            <div class="experience-option-container" id="level-rookie" (click)="selectLevel('rookie')">
                                <img alt="nivel amador" class="experience-icon amateur"
                                    src="../../../assets/icons/amateur.png">
                                <p class="experience-typography">
                                    Iniciante
                                </p>
                            </div>
                            <div class="experience-option-container" id="level-master" (click)="selectLevel('master')">
                                <img alt="chef de cozinha" class="experience-icon" src="../../../assets/icons/chef.png">
                                <p class="experience-typography">
                                    Conheço bem!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-container" (click)="submitChallenge()" id="submit">
                <p class="title" *ngIf="!showLoading">Me desafie!</p>
                <app-loading *ngIf="showLoading"></app-loading>
            </div>
        </div>
    </div>
</div>