<div class="main-container">
    <div class="image-container">
        <img alt="O que cozinhar em um prato de comida?" class="image" src="../../../../assets/images/home.png">
    </div>
    <div class="title-container">
        <h1 class="title">O que cozinhar?</h1>
        <p class="about-text">Ficou na dúvida do que cozinhar hoje? <br><br> O nosso gerador de receitas indicará um
            prato perfeito em segundos!
            Para isso, basta selecionar o botão "Me Desafie!" e escolher suas preferências culinárias.</p>
    </div>
    <div class="goto-challenge" (click)="openBottomSheet()">
        <p class="title-goto">Me Desafie!</p>
    </div>
</div>