.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #fafafa);
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  place-content: space-evenly;

  .image-container {
    display: flex;
    align-items: center;
    position: absolute;
    height: 34%;
    width: 52%;
    border-bottom-left-radius: 100%;
    background: linear-gradient(to right, #f9c64f, #f9a935);
    right: 0;
    top: 0;

    .image {
      position: fixed;
      width: 81vw;
      top: -12vh;
      right: -30vw;
    }
  }
  .title-container {
    margin-left: 1.8rem;
    margin-right: 0.8rem;

    .title {
      font-family: "Josefin Bold";
      margin-top: 40vw;
      font-size: 16vw;
      color: #343434;
      line-height: normal;
    }

    .about-text {
      font-family: "Josefin Regular";
      margin-top: 6vw;
      font-size: 6vw;
      color: #343434;
      line-height: normal;
    }
  }

  .goto-challenge {
    position: relative;
    background: linear-gradient(to right, #f9c64f, #f9a935);
    box-shadow: -13px -18px 30px -20px #f9c64f;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58vw;
    height: 12vh;
    border-radius: 2rem;
    cursor: pointer;
    justify-self: center;
    margin-left: -26vw;

    .title-goto {
      font-family: "Josefin Bold";
      font-size: 1.7rem;
      color: #ffffff;
      text-align: center;
      margin: 0 !important;
      padding-top: 0.3rem;
    }
  }
}
