#person-one {
  background: var(--bg-color);
}
#person-two {
  background: var(--bg-color);
}
#person-tree {
  background: var(--bg-color);
}

#level-rookie {
  background: var(--bg-color);
}
#level-master {
  background: var(--bg-color);
}

#submit {
  transition: all 0.3s;
  background: var(--bg-color);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

.content-container {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px -4px #696969;
  -moz-box-shadow: 0px 0px 10px -4px #696969;
  box-shadow: 0px 0px 10px -4px #696969;

  .content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: auto 30%;

    .form-container {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: min-content auto;

      .form-title {
        font-family: "Josefin Bold";
        font-size: 2rem;
        margin-top: 5rem;
        justify-self: center;
        color: #343434;
      }

      .form-typography {
        font-family: "Josefin Regular";
        font-size: 1.5rem;
        margin-top: 2.7rem;
        text-align: center;
        color: #343434;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }

      .form-options {
        display: grid;
        grid-template-rows: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;

        .person-options {
          display: flex;
          place-content: space-evenly;
          margin-top: 1.5rem;

          .person-option-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            -webkit-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            -moz-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            border-radius: 0.6rem;

            .person-icon {
              margin-top: -0.5rem;
              margin-left: -0.5rem;
              color: #696969;
              font-size: 2rem;
            }
          }
        }

        .veggie-option {
          display: flex;
          align-items: center;
          justify-content: center;

          .slide-toggle {
            margin-left: 2rem;
          }

          .veggie-typography {
            font-family: "Josefin Regular";
            font-size: 1.5rem;
            margin-top: 1rem;
            color: #343434;
          }
        }

        .experience-options {
          display: flex;
          place-content: space-evenly;
          margin-top: 1.5rem;

          .experience-option-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 4rem;
            cursor: pointer;
            -webkit-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            -moz-box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            box-shadow: 4px 6px 11px #ababab, -10px -10px 19px #ffffff;
            border-radius: 0.6rem;

            .experience-icon {
              margin-right: 0.5rem;

              &.amateur {
                width: 1.7rem;
                margin-top: 0.2rem;
              }
            }

            .experience-typography {
              font-family: "Josefin Regular";
              font-size: 1rem;
              margin-top: 1rem;
              color: #343434;
            }
          }
        }
      }
    }
  }
  .submit-container {
    width: 18rem;
    height: 10vh;
    justify-self: center;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-family: "Josefin Bold";
      font-size: 1.9rem;
      color: #ffffff;
      text-align: center;
      margin: 0;
      margin-top: 0.5rem;
    }
  }
}


::ng-deep .mat-slide-toggle-bar {
    height: 38px !important;
    width: 78px !important;
    border-radius: 36px !important;
    margin-right: 12px !important;
    background: #efefef;
  }
  ::ng-deep .mat-slide-toggle-thumb {
    height: 38px !important;
    width: 38px !important;
    margin-top: 0.1rem;
    background-color: #f9a935 !important;
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(38px, 0, 0) !important;
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: #e2e2e2 !important;
  }
  
  ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
  
  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #fffff0 !important;
  }
  
