<div class="main-container">
    <div class="return-container" (click)="anotherRecipe()">
        <p class="title-return">Outra receita</p>
    </div>
    <div class="title-container">
        <p class="title">Aqui está!</p>
    </div>
    <div class="content">
        <p class="title-content">{{recipe.nome}}</p>
        <div class="info-content">
            <div class="time">
                <img alt="tempo de preparo" class="info-icon" src="../../../../assets/icons/clock.png">
                <p class="info-description">{{recipe.preparo + " minutos"}}</p>
                <p class="info-title">Tempo de Preparo</p>
            </div>
            <div class="quantity">
                <img alt="rendimento da receita" class="info-icon" src="../../../../assets/icons/portion.png">
                <p class="info-description">{{recipe.rendimento}}</p>
                <p class="info-title">Porções</p>
            </div>
        </div>
        <div class="goto-recipe" (click)="navigateToRecipeSite()">
            <p class="title">Ver receita</p>
        </div>
    </div>
</div>