.main-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: grid;
  grid-template-rows: min-content auto;

  .return-container {
    position: absolute;
    background: linear-gradient(to right, #f9c64f, #f9a935);
    width: 14rem;
    height: 4rem;
    border-bottom-right-radius: 5rem;
    -webkit-box-shadow: 8px 8px 20px -16px #696969;
    -moz-box-shadow: 8px 8px 20px -16px #696969;
    box-shadow: 8px 8px 20px -16px #696969;
    cursor: pointer;

    .title-return {
      font-family: "Josefin Bold";
      font-size: 1.5rem;
      margin-top: 1.3rem;
      margin-left: 1.3rem;
      color: #ffffff;
    }
  }

  .title-container {
    text-align: center;

    .title {
      font-family: "Josefin Bold";
      font-size: 4.5rem;
      margin-top: 4.7rem;
      color: #343434;
    }
  }

  .content {
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;

    .title-content {
      font-family: "Josefin Regular";
      font-size: 3.5rem;
      margin-top: 4.7rem;
      color: #343434;
    }

    .info-content {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 2rem;

      .time {
        margin-left: 14rem;
      }

      .quantity {
        margin-right: 14rem;
      }

      .info-icon {
        width: 4rem;
      }

      .info-description {
        font-family: "Josefin Regular";
        font-size: 2rem;
        margin-top: 1.5rem;
        color: #343434;
      }

      .info-title {
        font-family: "Josefin Bold";
        font-size: 1.5rem;
        margin-top: 1.8rem;
        color: #343434;
      }
    }

    .goto-recipe {
      position: relative;
      background: linear-gradient(to right, #f9c64f, #f9a935);
      width: 32rem;
      height: 8rem;
      border-radius: 5rem;
      margin-bottom: 4rem;
      cursor: pointer;
      justify-self: center;
      -webkit-box-shadow: 8px 8px 20px -16px #696969;
      -moz-box-shadow: 8px 8px 20px -16px #696969;
      box-shadow: 8px 8px 20px -16px #696969;

      .title {
        font-family: "Josefin Bold";
        font-size: 3rem;
        margin-top: 3.5rem;
        color: #ffffff;
      }
    }
  }
}
