html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

@font-face {
  font-family: Josefin Regular;
  src: url(assets/fonts/JosefinSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Josefin Bold;
  src: url(assets/fonts/JosefinSans-Bold.ttf) format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-bottom-sheet{
  background: transparent;
  box-shadow: none;
  padding: 0 !important;
  max-height: 100vh !important;
}
